.header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 80px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
}

.header__logo {
  display: grid;
  place-items: center;
  color: #111;
  font-size: 24px;
  font-weight: bold;
}

.burger__menu {
  display: none;
}

.header__link.show,
.header__link.none {
  display: flex;
  justify-content: space-evenly;
}

.header__link.show a,
.header__link.none a {
  text-decoration: none;
  color: #f36d2a;
  font-size: 20px;
  font-weight: bold;
}

.backdrop {
  display: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  .header__link.show {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    height: 100%;
    grid-template-rows: repeat(3, 50px);
    background-color: #fff;
    width: 200px;
    z-index: 10000;
    animation: anim 0.3s ease-in-out;
  }

  .header__link.none {
    display: none;
  }

  .header__link.show a {
    padding: 20px;
  }

  .backdrop {
    display: block;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.26);
    width: 100%;
    height: 100%;
    z-index: 1000;
  }

  .burger__menu {
    display: block;
  }

  .header__logo .logo {
    display: none;
  }
}

@keyframes anim {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
