.home {
  width: 90%;
  margin: 40px auto;
}

.home__card_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

@media (max-width: 700px) {
  .home__card_list {
    grid-template-columns: 1fr;
  }
}
